body{
  font-family: 'Open Sans Condensed', sans-serif;
}

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.App{
  display:flex;
  flex-direction: column;
}

.bigScreen{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-top:4%;
}

.footer{
  text-align: center;
  
}

@media screen and (max-width: 1030px){
  .bigScreen{
      flex-direction: column;
      padding-top:0%;
  }

  }